.header
  flex 0 1 auto
  display flex
  justify-content flex-end
  align-items center
  padding 5px
  margin 5px
  border 2px solid #28FC91
  height 2em

.titleText
  color: #33ff00
  order 0 !important
  flex 1
  align-items center
  display flex
  text-shadow: 1.688px 0 1px rgba(0,30,255,0.5), -1.688px 0 1px rgba(255,0,80,0.3), 0 0 3px !important