.body
  background-color #0f2219
  color #40FFFF
  padding 1em
  float left
  width 93vw
  height 10vh

.loginButton
  float right
  margin 2px
  background-color #0f2219
  font-size 1.3em
  font-weight bold
  padding 8px
  border solid 2px
  color #28FC91
  &:hover
    color #40ffff