.body
  background-color #0f2219
  flex-wrap: nowrap
  font-weight: bold
  display: flex
  font-size: 1em
  text-align: center
  align-content: flex-end

.loginButton
  background-color #0f2219
  font-size 1.3em
  font-weight bold
  border solid 2px
  margin: 5px
  padding: 15px 32px
  display: inline-block
  text-align: center
  text-decoration: none
  color #28FC91
  &:hover
    color #40ffff

.titleText
  color #40FFFF