{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb",
    "plugin:lodash-fp/recommended"
  ],
  "plugins": [
    "react",
    "mocha",
    "lodash-fp"
  ],
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "mocha/no-exclusive-tests": 2,
    "mocha/handle-done-callback": 2,
    "mocha/no-synchronous-tests": 2,
    "react/prefer-stateless-function": [
      2,
      {
        "ignorePureComponents": true
      }
    ]
  }
}