{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:flowtype/recommended",
    "airbnb",
    "plugin:lodash-fp/recommended"
  ],
  "plugins": [
    "react",
    "lodash-fp",
    "flowtype"
  ],
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "flowtype/use-flow-type": 1,
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/anchor-is-valid": ["warn", { "aspects": ["invalidHref"] }],
    "react/prefer-stateless-function": [
      2,
      {
        "ignorePureComponents": true
      }
    ]
  }
}
