.chatStyle
  display flex
  flex-direction column
  height 100%
  justify-content flex-end
  overflow-y auto
  flex 1
  order 0 !important

.lineStyle
  color #28FC91
  height 1em
  margin 5px
  margin-left 1em
