@font-face
  font-family 'AHAMONO-Monospaced'
  src url('./AHAMONO-Monospaced.eot')
  src url('./AHAMONO-Monospaced.woff2') format('woff2'),
    url('./AHAMONO-Monospaced.woff') format('woff'),
    url('./AHAMONO-Monospaced.ttf') format('truetype'),
    url('./AHAMONO-Monospaced.svg#AHAMONO-Monospaced') format('svg'),
    url('./AHAMONO-Monospaced.eot?#iefix') format('embedded-opentype')
  font-weight normal
  font-style normal