.chatStyle
  display flex
  flex-direction column
  height 100%
  justify-content flex-end
  overflow-y auto
  flex 1
  order 0 !important

random()
  return 1 * (-1 + (2 * math(0, 'random')))

base = random()
gradient = 4px * base * base

.lineStyle
  color #28FC91
  display flex
  font-size 14px
  margin 1px
  margin-left 1em
  text-shadow 3.4px 0 1px rgba(0, 30, 255, 0.5), -3.4px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px !important


.timeStamp
  @media (max-width: 1024px)
    display: none !important